downloads/
yt_dlp.egg-info/
build/
dist/
yt_dlp/__pycache__/
yt_dlp/__pycache__/utils.cpython-38.pyc
yt_dlp/__pycache__/utils.cpython-39.pyc
yt_dlp/__pycache__/extractor.cpython-38.pyc
yt_dlp/__pycache__/extractor.cpython-39.pyc
main.spec
.idea/
.idea/yt_dlp.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/.gitignore
.idea/yt_dlp/.idea/
.idea/yt_dlp/.idea/yt_dlp.iml
.idea/yt_dlp/.idea/misc.xml
.idea/yt_dlp/.idea/modules.xml
.idea/yt_dlp/.idea/workspace.xml
.idea/yt_dlp/.idea/.gitignore